<h1>Events</h1>

<%= link_to 'Add a New Event', new_event_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Happening on</th>
    <th>Venue</th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.title, event %></td>
    <td><%= event.date.to_formatted_s(:day_month_day) %> at <%= event.date.to_formatted_s(:time_of_day) %></td>
    <% venue = @venues.select{|v| v.id == event.venue_id}.first %>    	 
    <td><%= venue != nil ? link_to(venue.name, venue) : "unknown" %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
